@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

[x-cloak] { display: none !important; }

body{
    @apply bg-white11 dark:bg-Neutral12 relative;
}

.my_container{
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    @apply max-sm:px-[15px];
}

.page-wrapper{
    @apply mt-[87px] max-sm:mt-[60px];
}

.text-caption{
    @apply text-[14px] leading-[20px];
}

.text-blockquote{
    @apply text-[16px] leading-[23px] italic;
}

.text-button2{
    @apply text-[16px] leading-[23px] font-medium;
}

.text-button1{
    @apply text-[21px] leading-[30px] font-medium;
}

.text-body{
    @apply text-[21px] leading-[30px];
}

.text-body2{
    @apply text-[18px] leading-[30px];
}

.text-subtitle{
    @apply text-[21px] leading-[28px] font-medium;
}

.text-h6{
    @apply text-[21px] leading-[30px] font-semibold;
}

.text-h5{
    @apply text-[28px] leading-[40px] font-semibold;
}

.text-h4{
    @apply text-[38px] leading-[50px] font-semibold;
}

.text-h3{
    @apply text-[51px] leading-[70px] font-bold;
}

.text-h2{
    @apply text-[67px] leading-[98px] font-bold;
}

.text-h1{
    @apply text-[90px] leading-[130px] font-bold;
}

.sectionTitle1{
    @apply mb-[30px];

    ._box{
        h2{
            @apply text-[28px] font-semibold leading-[40px] uppercase;
        }
    }
}

.sectionTitle2{
    ._box{
        h2{
            @apply text-[28px] font-semibold leading-[40px] uppercase;
        }
    }
}

.sectionTitle{
    @apply inline-block overflow-hidden;

    ._box{
        @apply flex flex-col;


        h2{
            @apply text-bluee dark:text-green09;
        }

        .line{
            @apply w-full h-[1px] relative;

            .line-active{
                @apply w-full h-[1px] bg-bluee dark:bg-green09 absolute bottom-0;
            }
        }
    }
}


.subTitle{
    @apply text-[21px] font-semibold;
}

._sectionRight{
    @apply flex flex-col gap-[50px] w-[378px] pb-[24px];

    ._topStory{
        @apply flex flex-col;

        .-selection{
            @apply flex items-center justify-between gap-[15px] pb-[15px];

            span{
                @apply text-[16px] leading-[23px] text-grayy dark:text-white11 py-[10px] px-[30px] bg-transparent rounded-full border border-grayy dark:border-white11 flex-auto text-center uppercase cursor-pointer;
            }

            .active{
                @apply bg-grayy text-white border-transparent;
            }
        }

        ._content{
            @apply p-[15px];

            .-tabCont{

                .-box{
                    @apply flex items-center gap-[18px] px-[18px] py-[24px] border-b border-[#b3b3b3];
    
                    .-circle{
                        @apply text-[21px] font-semibold leading-[30px] py-[7px] px-[10px] rounded-full dark:text-white ;
                    }
    
                    img{
                        @apply w-[82px] h-[82px] rounded-md object-cover;
                    }
    
                    .-info{
                        @apply flex flex-col gap-[15px];
    
                        h3{
                            @apply text-[21px] font-medium leading-[28px] text-grayy dark:text-white11 capitalize line-clamp-1;
                        }
    
                        .-chapter{
                            @apply flex items-center justify-between text-[14px] leading-[20px] text-grayyLight dark:text-white11;
    
                            .-watch{
                                @apply flex items-center gap-1 italic;
                            }
                        }
                    }
                }
    
                .-box:last-child{
                    @apply pb-0 border-0;
                }
    
                .-box:first-child{
                    @apply pt-0;
                }
            }

        }

        ._content > .-tabCont[x-show="true"]{
            display: block;
        }
    }

    ._readingStory{
        @apply flex flex-col;

        ._title{
            @apply p-[10px] pb-[5px] border border-grayy dark:border-white11;

            h3{
                @apply text-[28px] leading-[40px] font-semibold text-bluee dark:text-green09 uppercase;
            }
        }

        ._content{
            @apply border border-grayy border-t-0 dark:border-white11;

            table{
                @apply w-full;

                tbody{
                    tr{
                        @apply border-b border-grayy border-dashed;

                        td{
                            @apply text-grayy dark:text-white11 text-[21px] leading-[30px];
                        }

                        td:first-child{
                            @apply py-2 px-4 border-r border-dashed border-gray-400 hover:underline w-7/12;

                            a{
                                @apply line-clamp-1 capitalize;
                            }
                        }

                        td:last-child{
                            @apply py-2 px-4 text-bluee dark:text-green09 hover:underline w-5/12;
                        }
                    }

                    tr:last-child{
                        @apply border-0;
                    }
                }
            }
        }
    }

    ._storyCategory{
        @apply flex flex-col;

        ._title{
            @apply p-[10px] pb-[5px] border border-grayy dark:border-white11;

            h3{
                @apply text-[28px] leading-[40px] font-semibold text-bluee dark:text-green09 uppercase;
            }
        }

        ._content{
            @apply p-[24px] px-[50px] grid grid-cols-2 gap-[15px] border border-grayy dark:border-white11 border-t-0;

            a{
                @apply text-[18px] leading-[30px] text-Neutral10 dark:text-white11 line-clamp-1 capitalize hover:underline;
            }
        }
    }

}
