@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


[x-cloak] { display: none !important; }

body{
    @apply bg-white11 dark:bg-Neutral12 relative;
    font-family: 'Roboto', sans-serif;
}

.my_container{
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    @apply max-sm:px-[15px];
}

.page-wrapper{
    @apply mt-[87px] max-sm:mt-[60px];
}

.text-caption{
    @apply text-[14px] leading-[20px];
}

.text-blockquote{
    @apply text-[16px] leading-[23px] italic;
}

.text-button2{
    @apply text-[16px] leading-[23px] font-medium;
}

.text-button1{
    @apply text-[21px] leading-[30px] font-medium;
}

.text-body{
    @apply text-[21px] leading-[30px];
}

.text-body2{
    @apply text-[18px] leading-[30px];
}

.text-subtitle{
    @apply text-[21px] leading-[28px] font-medium;
}

.text-h6{
    @apply text-[21px] leading-[30px] font-semibold;
}

.text-h5{
    @apply text-[28px] leading-[40px] font-semibold;
}

.text-h4{
    @apply text-[38px] leading-[50px] font-semibold;
}

.text-h3{
    @apply text-[51px] leading-[70px] font-bold;
}

.text-h2{
    @apply text-[67px] leading-[98px] font-bold;
}

.text-h1{
    @apply text-[90px] leading-[130px] font-bold;
}

.commonBtnDropdown{
    @apply px-[10px] py-1 border border-gray02 flex items-center gap-1 rounded-lg select-none text-gray02 dark:text-white11 dark:border-white11 cursor-pointer;

    span{
        @apply text-button2;
    }

    svg{
        @apply w-5 h-5 font-bold ease-in-out transition-transform;
    }
}

.commonBtnDropdown.active{
    @apply bg-white dark:bg-bgNavbar border-bluee dark:border-green09;

    span{
        @apply text-bluee dark:text-green09;
    }

    svg{
        @apply text-bluee dark:text-green09 rotate-180 ease-in-out transition-transform;
    }
}

.commonBtnDropdownBgColor{
    @apply px-[10px] py-1 flex items-center gap-1 rounded-lg select-none bg-bluee text-white hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11;

    span{
        @apply text-button2;
    }

    svg{
        @apply w-5 h-5 font-bold;
    }
}

.commonDropdown{
    @apply z-10 absolute right-0 top-[130%] border border-bluee dark:border-green09 rounded-lg bg-white shadow-sm dark:bg-bgNavbar;

    ul{
        @apply p-[5px] text-button2 w-full text-gray02 dark:text-white11; 

        a{
            @apply block rounded-md w-full px-2 py-2 hover:text-bluee dark:hover:text-green09 select-none;
        }
    }

}

.commonDropdownBgColor{
    @apply z-10 absolute right-0 top-[130%] border border-bluee dark:border-green09 rounded-lg overflow-hidden bg-bluee dark:bg-green09 shadow-sm;

    ul{
        @apply text-button2 text-white w-full p-[5px]; 

        a{
            @apply block rounded-md w-full px-2 py-2 hover:bg-blue11 dark:hover:bg-green11 select-none;
        }
    }

}

.sectionTitle1{
    @apply mb-[30px];

    ._box{
        h2{
            @apply text-[28px] font-semibold leading-[40px] uppercase;
        }
    }
}

.sectionTitle2{
    ._box{
        h2{
            @apply text-[28px] font-semibold leading-[40px] uppercase;
        }
    }
}

.sectionTitle{
    @apply inline-block overflow-hidden select-none;

    ._box{
        @apply flex flex-col;


        h2{
            @apply text-bluee dark:text-green09;
        }

        .line{
            @apply w-full h-[1px] relative;

            .line-active{
                @apply w-full h-[1px] bg-bluee dark:bg-green09 absolute bottom-0;
            }
        }
    }
}

.toolTipCustom{
    @apply absolute z-10 inline-block px-3 py-2 text-caption text-gray02 bg-white09 rounded-lg shadow tooltip dark:bg-gray09 dark:text-white11;
}

._sectionRight{
    @apply flex flex-col gap-[50px] w-[378px] pb-[24px];

    ._topStory{
        @apply flex flex-col;

        .-selection{
            @apply flex items-center justify-between gap-[15px] pb-[15px];

            span{
                @apply text-button2 text-grayy dark:text-white11 py-[10px] px-[30px] bg-transparent rounded-full border border-grayy dark:border-white11 flex-auto text-center uppercase cursor-pointer;
            }

            .active{
                @apply bg-grayy text-white border-transparent;
            }
        }

        ._content{
            @apply p-[15px];

            .-tabCont{

                .-box{
                    @apply flex items-center gap-[18px] px-[18px] py-[24px] border-b border-[#b3b3b3];
    
                    .-circle{
                        @apply text-h6 py-[7px] px-[10px] rounded-full dark:text-white ;
                    }
                    
                    .-image{
                        @apply w-[82px] h-[82px] overflow-hidden rounded-md;
                        img{
                            @apply w-full h-full object-cover;
                            transition: transform 0.3s ease;
                        }
                    }
    
                    .-info{
                        @apply flex flex-col gap-[15px] flex-1;
    
                        h3{
                            @apply text-subtitle text-grayy dark:text-white11 capitalize line-clamp-1;
                        }
    
                        .-chapter{
                            @apply flex items-center justify-between text-caption text-grayyLight dark:text-white11;
    
                            .-watch{
                                @apply flex items-center gap-1 italic;
                            }
                        }
                    }
                }
    
                .-box:last-child{
                    @apply pb-0 border-0;
                }
    
                .-box:first-child{
                    @apply pt-0;
                }

                .-box:hover{
                    .-image{
                        img{
                            transform: scale(1.2);
                            transition: transform 0.3s ease;
                        }
                    }

                    .-info{
                        h3{
                            @apply underline;
                        }
                    }
                }
            }

        }

        ._content > .-tabCont[x-show="true"]{
            display: block;
        }
    }

    ._readingStory{
        @apply flex flex-col;

        ._title{
            @apply p-[10px] pb-[5px] border border-grayy dark:border-white11;

        }

        ._content{
            @apply border border-grayy border-t-0 dark:border-white11;

            table{
                @apply w-full;

                tbody{
                    tr{
                        @apply border-b border-grayy border-dashed;

                        td{
                            @apply text-grayy dark:text-white11 text-body;
                        }

                        td:first-child{
                            @apply py-2 px-4 border-r border-dashed border-gray-400 hover:underline w-7/12;

                            a{
                                @apply line-clamp-1 capitalize;
                            }
                        }

                        td:last-child{
                            @apply py-2 px-4 text-bluee dark:text-green09 hover:underline w-5/12;
                        }
                    }

                    tr:last-child{
                        @apply border-0;
                    }
                }
            }
        }
    }

    ._storyCategory{
        @apply flex flex-col;

        ._title{
            @apply p-[10px] pb-[5px] border border-grayy dark:border-white11;
        }

        ._content{
            @apply p-[24px] px-[50px] grid grid-cols-2 gap-[15px] border border-grayy dark:border-white11 border-t-0;

            a{
                @apply text-body2 text-Neutral10 dark:text-white11 line-clamp-1 capitalize hover:underline;
            }
        }
    }

}
