@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.Section1 {
  @apply flex gap-[62px] max-sm:flex-col max-sm:gap-[10px];
}
.Section1 ._left {
  @apply flex-1;
}
.Section1 ._left .truyenHot ._container {
  @apply grid md:grid-cols-4 grid-cols-1 gap-[27px];
}
.Section1 ._left .truyenMoi {
  @apply pt-[80px];
}
.Section1 ._left .truyenMoi ._headSection {
  @apply flex items-center justify-between pb-[30px] flex-wrap;
}
.Section1 ._left .truyenMoi ._headSection .-sortBtn {
  @apply px-[16px] py-[8px] flex items-center gap-1 rounded-lg bg-bluee text-white hover:bg-Accents11 dark:bg-green09 dark:hover:bg-green11 select-none;
}
.Section1 ._left .truyenMoi ._headSection .-sortBtn span {
  @apply text-button2;
}
.Section1 ._left .truyenMoi ._headSection .-sortBtn svg {
  @apply w-5 h-5 font-bold ease-in-out transition-transform;
}
.Section1 ._left .truyenMoi ._headSection .-sortBtn.active svg {
  @apply rotate-180 ease-in-out transition-transform;
}

.Section2 {
  @apply pt-[90px] max-sm:pt-[30px];
}
.Section2 .truyenFull {
  @apply pb-[70px] max-sm:pb-[30px];
}
.Section2 .truyenFull ._container {
  @apply grid md:grid-cols-6 grid-cols-1 gap-[27px];
}

.search-wrapper {
  @apply w-full max-sm:px-[15px] mb-[110px] mt-[150px] max-sm:mb-[20px] max-w-[1070px] mx-auto;
}

.search-form {
  @apply p-[12px] max-w-[850px] mx-auto bg-white dark:bg-gray02 rounded-xl flex items-center justify-between border border-gray09 dark:border-white09;
}
.search-form input {
  @apply w-full border-0 focus:outline-none ring-transparent text-grayy dark:text-white09 p-0 bg-transparent;
  box-shadow: none !important;
}
.search-form input::-moz-placeholder {
  @apply text-gray08 dark:text-white08;
}
.search-form input::placeholder {
  @apply text-gray08 dark:text-white08;
}
.search-form svg {
  @apply w-[28px] h-[28px] text-gray09 dark:text-white09;
}

.search-results ._container {
  @apply grid grid-cols-5 gap-[27px];
}

.category {
  @apply pb-[100px];
}
.category .cat_info {
  @apply bg-white dark:bg-bgNavbar;
}
.category .cat_info .-container {
  @apply my_container py-[70px] flex flex-col gap-[50px];
}
.category .cat_info .-container ._header {
  @apply flex flex-col gap-[12px];
}
.category .cat_info .-container ._header h2 {
  @apply text-gray02 dark:text-white11 text-[28px] font-semibold;
}
.category .cat_info .-container ._header p {
  @apply text-gray10 dark:text-white10 text-[21px] leading-[30px] max-w-[737px];
}
.category .cat_info .-container .filter {
  @apply flex gap-[15px] items-center text-gray02 dark:text-white11;
}
.category .cat_info .-container .filter h2 {
  @apply text-[28px] font-semibold leading-[40px];
}
.category .cat_info .-container .filter ._select {
  @apply flex text-[16px] leading-[23px] font-medium gap-[24px];
}
.category .cat_info .-container .filter ._select button {
  @apply px-6 py-2 bg-transparent border border-gray02 dark:border-white11 rounded-full hover:bg-Neutral10 hover:text-white11 transition ease-in-out duration-300;
}
.category .cat_info .-container .filter ._select button.active {
  @apply bg-Neutral10 text-white border-0;
}
.category .cat_content {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pt-[90px] pb-[50px];
}
.category .cat_content .-item {
  @apply flex gap-[20px];
}
.category .cat_content .-item ._img {
  @apply w-[170px] h-[210px] rounded-md overflow-hidden;
}
.category .cat_content .-item ._img img {
  @apply w-full h-full object-cover;
  transition: transform 0.3s ease;
}
.category .cat_content .-item ._info {
  @apply flex flex-col gap-[10px] my-[15px] flex-1;
}
.category .cat_content .-item ._info .-tag_box {
  @apply flex gap-[10px] items-center;
}
.category .cat_content .-item ._info .-tag_box .tag {
  @apply text-[14px] text-tagHome px-[10px] py-[2px] rounded-md;
}
.category .cat_content .-item ._info .-storyinfo {
  @apply flex flex-col gap-[5px] justify-between h-full;
}
.category .cat_content .-item ._info .-storyinfo a {
  @apply text-gray02 dark:text-white11 text-[21px] leading-[28px] font-medium line-clamp-2 mb-3 hover:underline;
}
.category .cat_content .-item ._info .-storyinfo ._author {
  @apply flex items-center gap-[5px] text-gray09 dark:text-white10 text-caption line-clamp-1;
}
.category .cat_content .-item ._info .-storyinfo ._author span {
  @apply line-clamp-1;
}
.category .cat_content .-item ._info .-storyinfo ._chapter {
  @apply flex items-center justify-between gap-[5px] text-gray10 dark:text-white10;
}
.category .cat_content .-item ._info .-storyinfo ._chapter a {
  @apply text-gray10 dark:text-white10 hover:underline text-caption font-normal m-0;
}
.category .cat_content .-item ._info .-storyinfo ._chapter .-view {
  @apply flex items-center gap-[5px] italic text-caption;
}
.category .cat_content .-item:hover ._img img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.star-filled {
  @apply fill-yellow09;
}

.star-empty {
  @apply fill-transparent dark:stroke-white10 stroke-gray10;
}

.novel-container {
  @apply relative h-[500px];
}

.novel-header {
  @apply h-[75%] bg-cover bg-center bg-no-repeat;
}

.novel-footer {
  @apply h-[25%];
}

.content-overlay {
  @apply absolute bottom-8 left-0 right-0 px-4;
}
.content-overlay .image {
  @apply w-[220px] h-[328px] rounded-lg overflow-hidden shadow-lg flex-shrink-0;
}
.content-overlay .image img {
  @apply w-full h-full object-cover;
}
.content-overlay .info {
  @apply flex-1 mb-4;
}
.content-overlay .info .title {
  @apply text-[51px] leading-[70px] font-bold mb-4 text-white;
}
.content-overlay .info .author {
  @apply flex items-center gap-2 text-[18px] text-white12;
}
.content-overlay .info .author span:first-child {
  @apply font-semibold;
}
.content-overlay .info .genre_status {
  @apply flex items-center gap-[30px];
}
.content-overlay .info .genre_status .-genre {
  @apply flex items-center gap-2 text-[18px] text-white12;
}
.content-overlay .info .genre_status .-genre ._list {
  @apply flex gap-2;
}
.content-overlay .info .genre_status .-genre ._list span {
  @apply py-1;
}
.content-overlay .info .genre_status .-genre ._list span:after {
  content: ", ";
}
.content-overlay .info .genre_status .-genre ._list span:last-child:after {
  content: "";
}
.content-overlay .info .genre_status ._status {
  @apply flex items-center text-[18px] text-white12 gap-2;
}
.content-overlay .info .btn-read {
  @apply w-fit bg-bluee hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11 text-white px-[16px] py-[8px] rounded-md transition-colors select-none cursor-pointer;
}
.content-overlay .info .btn-read.followed svg {
  @apply fill-Danger09;
}

.switch_tab {
  @apply flex items-center gap-[15px] py-[50px];
}
.switch_tab .divide::after {
  content: "";
  @apply w-[1px] h-[30px] bg-white dark:bg-white11;
}
.switch_tab .tab {
  @apply text-[26px] leading-[30px] font-semibold text-grayy dark:text-white11 cursor-pointer inline-block overflow-hidden;
}
.switch_tab .tab ._box {
  @apply flex flex-col;
}
.switch_tab .tab ._box h2 {
  @apply text-grayy dark:text-white11;
}
.switch_tab .tab ._box .line {
  @apply w-full h-[1px] relative;
}
.switch_tab .tab ._box .line .line-active {
  @apply w-full h-[1px] bg-grayy dark:bg-white11 absolute bottom-0;
}
.switch_tab .tab.active h2 {
  @apply text-bluee dark:text-green09;
}
.switch_tab .tab.active .line .line-active {
  @apply bg-bluee dark:bg-green09;
}

.tab_content .-info_tab .novel_summary {
  @apply mb-[40px] max-w-[740px] text-grayy dark:text-white11;
}
.tab_content .-info_tab .novel_summary p {
  @apply text-h5;
}
.tab_content .-info_tab .novel_summary span {
  @apply text-body;
}
.tab_content .-info_tab .review {
  @apply flex items-center gap-[17px] leading-[38px] text-grayy dark:text-white11;
}
.tab_content .-info_tab .review .-count {
  @apply text-h5;
}
.tab_content .-info_tab .review .-star {
  @apply flex items-center gap-[5px];
}
.tab_content .-info_tab .review .-star span {
  @apply text-h5;
}
.tab_content .-info_tab .review .-star svg {
  @apply w-[24px] h-[24px] fill-yellow09;
}
.tab_content .-info_tab .comment {
  @apply border rounded-2xl bg-white dark:bg-bgNavbar shadow-md dark:border-transparent;
}
.tab_content .-info_tab .comment .-wraper {
  @apply max-w-[910px] mx-auto my-[30px];
}
.tab_content .-info_tab .comment .-wraper h2 {
  @apply text-body text-gray10 mb-2 dark:text-white10;
}
.tab_content .-info_tab .comment .-wraper p {
  @apply text-subtitle text-gray01 mb-3 dark:text-white12;
}
.tab_content .-info_tab .comment .-wraper .-star {
  @apply flex justify-center gap-1;
}
.tab_content .-info_tab .comment .-wraper .-star svg {
  @apply w-[24px] h-[24px] cursor-pointer;
}
.tab_content .-info_tab .comment .-wraper .-input_area {
  @apply mb-8;
}
.tab_content .-info_tab .comment .-wraper .-input_area textarea {
  @apply w-full border border-gray-200 rounded-2xl p-4 min-h-[120px] mb-2 outline-none shadow-none dark:bg-Neutral12 dark:text-white11;
  box-shadow: none !important;
}
.tab_content .-info_tab .comment .-wraper .-input_area .check-input {
  @apply flex flex-col justify-between text-caption mb-3;
}
.tab_content .-info_tab .comment .-wraper .-input_area .submit-btn {
  @apply text-right;
}
.tab_content .-info_tab .comment .-wraper .-input_area .submit-btn button {
  @apply bg-bluee text-white px-8 py-2 rounded-full hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11;
}
.tab_content .-info_tab .number_of_cmt {
  @apply flex justify-between items-center my-[30px];
}
.tab_content .-info_tab .number_of_cmt h3 {
  @apply text-[21px] font-semibold text-gray02 dark:text-white11;
}
.tab_content .-info_tab .comment_card {
  @apply border rounded-2xl bg-white dark:bg-bgNavbar dark:border-transparent mb-[30px] shadow-md;
}
.tab_content .-info_tab .comment_card .wrapper {
  @apply max-w-[910px] mx-auto my-[30px];
}
.tab_content .-info_tab .comment_card .wrapper .user {
  @apply flex items-start gap-3 mb-3;
}
.tab_content .-info_tab .comment_card .wrapper .user .avatar {
  @apply w-10 h-10 bg-gray-200 rounded-full overflow-hidden;
}
.tab_content .-info_tab .comment_card .wrapper .user .avatar img {
  @apply w-full h-full object-cover;
}
.tab_content .-info_tab .comment_card .wrapper .user .name {
  @apply font-medium mb-1 text-gray02 dark:text-white12;
}
.tab_content .-info_tab .comment_card .wrapper .user .star {
  @apply flex gap-1;
}
.tab_content .-info_tab .comment_card .wrapper .user .star svg {
  @apply w-4 h-4;
}
.tab_content .-info_tab .subComment-modal {
  @apply fixed bg-gray-500/50 dark:bg-gray-700/50 inset-0 left-0 right-0 top-0 z-50 max-h-full  w-full items-center overflow-y-scroll justify-center md:inset-0;
}
.tab_content .-info_tab .subComment-modal .wrapper {
  @apply relative rounded-lg bg-white11 shadow-sm dark:bg-gray01;
}
.tab_content .-info_tab .subComment-modal .wrapper .header {
  @apply bg-white dark:bg-bgNavbar px-[27px] py-[30px] border-b border-grayyLight dark:border-white11;
}
.tab_content .-info_tab .subComment-modal .wrapper .header h3 {
  @apply text-subtitle text-gray02 dark:text-white11;
}
.tab_content .-info_tab .subComment-modal .wrapper .header .comment_block {
  @apply pb-0;
}
.tab_content .-info_tab .subComment-modal .wrapper .body {
  @apply px-[27px] py-[30px];
}
.tab_content .-info_tab .subComment-modal .wrapper .body h3 {
  @apply pb-2 text-subtitle text-gray02 dark:text-white11;
}
.tab_content .-info_tab .subComment-modal .wrapper .bottom {
  @apply bg-white dark:bg-bgNavbar px-[27px] pt-[15px] pb-[30px];
}
.tab_content .-info_tab .subComment-modal .wrapper .bottom input {
  @apply w-full bg-transparent text-caption border-0 outline-none text-gray02 dark:text-white11;
  box-shadow: none !important;
}
.tab_content .-chapter_tab .header h1 {
  @apply text-body text-gray10 mb-[15px] dark:text-white10;
}
.tab_content .-chapter_tab .header .lastest {
  @apply flex items-center gap-2;
}
.tab_content .-chapter_tab .header .lastest span:first-child {
  @apply text-subtitle text-gray02 dark:text-white11;
}
.tab_content .-chapter_tab .header .lastest span:last-child {
  @apply text-caption text-gray09 dark:text-white09;
}
.tab_content .-chapter_tab .header .sort {
  @apply px-4 py-1 pr-8 border border-gray02 dark:border-white11 rounded-lg bg-white dark:bg-bgNavbar text-button2 text-gray02 dark:text-white11;
}
.tab_content .-chapter_tab .chapter-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px];
}
.tab_content .-chapter_tab .chapter-grid .-item {
  @apply bg-white dark:bg-gray01 p-[10px] pe-[23px] rounded-lg flex items-center gap-4 hover:shadow-md transition-shadow border border-white09 dark:border-0 dark:shadow-[0_1px_6.6px_rgba(2,2,2,0.25)] dark:hover:shadow-[0_4px_10px_rgba(2,2,2,0.25)];
}
.tab_content .-chapter_tab .chapter-grid .-item .mark_box {
  @apply w-[60px] h-[60px] bg-blue07 dark:bg-green09 rounded flex items-center justify-center text-body text-white;
}
.tab_content .-chapter_tab .chapter-grid .-item .name {
  @apply flex-1 max-w-[250px];
}
.tab_content .-chapter_tab .chapter-grid .-item .name h3 {
  @apply text-body text-gray01 line-clamp-1 dark:text-white12;
}
.tab_content .-chapter_tab .chapter-grid .-item .name p {
  @apply text-caption text-gray10 dark:text-white10;
}
.tab_content .-chapter_tab .chapter-grid .-item .watch {
  @apply flex items-center gap-[2px] text-gray10 dark:text-white10;
}
.tab_content .-chapter_tab .chapter-grid .-item .watch svg {
  @apply size-4;
}
.tab_content .-chapter_tab .chapter-grid .-item .watch span {
  @apply text-blockquote;
}

.may_like {
  @apply pb-[70px];
}
.may_like ._container {
  @apply grid md:grid-cols-6 grid-cols-1 gap-[27px];
}

.chapterPage .title {
  @apply text-h4 text-bluee dark:text-green09 text-center mb-8 font-medium;
}
.chapterPage .chapter_navigation {
  @apply flex justify-center items-center gap-[15px] mb-8;
}
.chapterPage .chapter_navigation .navigation_btn {
  @apply p-2 text-gray02 dark:text-white11 bg-white dark:bg-bgNavbar hover:bg-gray-100 rounded-lg border border-gray02 dark:border-white11 dark:hover:bg-gray-700;
}
.chapterPage .chapter_navigation .navigation_btn svg {
  @apply w-4 h-4;
}
.chapterPage .chapter_navigation .navigation_btn.disable {
  @apply p-2 text-gray02 dark:text-white11 bg-white dark:bg-bgNavbar rounded-lg border border-gray02 dark:border-white11;
}
.chapterPage .chapter_navigation .chapter_selection {
  @apply border rounded-lg px-[8px] py-[4px] bg-white text-gray02;
}
.chapterPage .reading_setting {
  @apply mb-4 text-gray02 bg-white border border-gray02 hover:bg-white09 focus:outline-none font-medium rounded-lg text-sm p-[6px] text-center inline-flex items-center dark:bg-bgNavbar dark:hover:bg-gray-700 dark:border-white11 dark:text-white11 cursor-pointer select-none;
}
.chapterPage .reading_setting svg {
  @apply ease-in-out transition-transform;
}
.chapterPage .reading_setting.active {
  @apply text-bluee dark:text-green09 border-bluee dark:border-green09;
}
.chapterPage .reading_setting.active svg {
  @apply rotate-180 ease-in-out transition-transform;
}
.chapterPage .reading_setting-dropdown {
  @apply absolute top-[100%] left-0 w-fit mb-6 text-sm text-gray02 border border-gray02 rounded-lg overflow-hidden bg-white dark:bg-bgNavbar dark:border-green09 dark:text-white11;
}
.chapterPage .reading_setting-dropdown .wrapper {
  @apply space-y-[10px] p-4 bg-white dark:bg-bgNavbar;
}
.chapterPage .reading_setting-dropdown .wrapper .item {
  @apply flex items-center gap-[24px];
}
.chapterPage .reading_setting-dropdown .wrapper .item label {
  @apply w-[120px] text-gray02 text-button2 dark:text-white11;
}
.chapterPage .reading_setting-dropdown .wrapper .item select {
  @apply border border-gray02 text-caption rounded-lg text-gray02 px-2 py-1 w-full flex-1 bg-transparent dark:text-white11 dark:border-white11 line-clamp-1;
}

.page_title {
  @apply text-h5 text-bluee dark:text-green09;
}

.follow_count {
  @apply text-blockquote text-gray01 dark:text-white12 font-light;
}

.sort_by {
  @apply flex gap-4 mb-8;
}
.sort_by button {
  @apply bg-bluee hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11 text-button2 text-white px-4 py-2 rounded-md flex items-center gap-2 select-none;
}
.sort_by button svg {
  @apply w-5 h-5;
}

.card-follow {
  @apply flex flex-col;
}
.card-follow ._banner {
  @apply rounded-md h-[260px] relative overflow-hidden;
}
.card-follow ._banner img {
  @apply w-full h-full object-cover rounded-md;
  transition: transform 0.3s ease;
}
.card-follow ._banner .-overlay {
  @apply absolute inset-0 text-[14px] px-[10px] py-[2px] bg-gradient-to-t from-gray-700 rounded-md;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card-follow ._banner .-overlay ._boxContent {
  @apply absolute bottom-0 left-0 right-0 p-4 flex justify-between gap-2;
}
.card-follow ._banner .-overlay ._boxContent button {
  @apply text-white px-1 py-1 rounded text-sm flex-1 transition-colors;
}
.card-follow ._banner .-overlay ._boxContent button:first-child {
  @apply bg-bluee hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11;
}
.card-follow ._banner .-overlay ._boxContent button:last-child {
  @apply bg-red-500 hover:bg-red-600;
}
.card-follow ._title {
  @apply pt-2;
}
.card-follow ._title h3 {
  @apply text-[18px] line-clamp-2 font-semibold leading-[30px] dark:text-white12 hover:underline;
}
.card-follow ._author {
  @apply flex items-center gap-[5px] text-gray10 dark:text-white10 text-[14px] leading-[20px] hover:underline line-clamp-1;
}
.card-follow ._author span {
  @apply line-clamp-1;
}
.card-follow ._storyGenre {
  @apply pt-2;
}
.card-follow ._storyGenre a {
  @apply text-grayy dark:text-white11 text-caption pe-[5px] border-r border-grayy dark:border-white11 hover:underline;
}
.card-follow ._storyGenre a:last-child {
  @apply border-0;
}
.card-follow ._status {
  @apply text-grayy dark:text-white11 text-caption pt-2;
}
.card-follow ._status span:first-child {
  @apply text-grayy dark:text-white11;
}
.card-follow ._status span:last-child {
  @apply text-bluee dark:text-green09;
}

.card-follow:hover ._banner img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.card-follow:hover ._banner .-overlay {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.authorPage .avatar {
  @apply w-[158px] h-[158px] rounded-full overflow-hidden;
}
.authorPage .avatar img {
  @apply w-full h-full object-cover;
}
.authorPage .nameNJoinDate {
  @apply flex flex-col justify-between py-[9px] h-full;
}
.authorPage .nameNJoinDate .name {
  @apply text-body font-normal text-gray02 dark:text-white11;
}
.authorPage .nameNJoinDate .joinDate {
  @apply text-body font-normal text-gray02 dark:text-white11;
}
.authorPage .nameNJoinDate .btnFollow {
  @apply w-fit flex items-center gap-[8px] bg-bluee hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11 text-white px-[16px] py-[8px] rounded-md transition-colors select-none cursor-pointer;
}
.authorPage .nameNJoinDate .btnFollow.followed svg {
  @apply fill-Danger09;
}
.authorPage .novelParameter {
  @apply flex flex-col justify-between py-[13px];
}
.authorPage .novelParameter .novelUploaded {
  @apply text-body text-gray02 dark:text-white11;
}
.authorPage .novelParameter .follower {
  @apply text-body text-gray02 dark:text-white11;
}
.authorPage .novelParameter .authorRating {
  @apply text-body flex gap-2 items-center text-gray02 dark:text-white11;
}

.nav {
  @apply fixed left-0 right-0 top-0 z-[50] bg-white dark:bg-bgNavbar;
}
.nav ._container {
  @apply mx-auto flex flex-wrap items-center justify-between;
}
.nav ._logo {
  @apply flex items-center space-x-3 rtl:space-x-reverse;
}
.nav ._logo img {
  @apply max-sm:h-8;
}
.nav ._menu {
  @apply hidden w-full items-center justify-between md:flex md:w-auto;
}
.nav ._menu ._search {
  @apply relative mt-3 md:hidden;
}
.nav ._menu ._search .-box {
  @apply pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3;
}
.nav ._menu ._search input {
  @apply block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500;
}
.nav ._menu ._list {
  @apply flex flex-col rounded-lg bg-transparent px-4 font-medium md:flex-row md:space-x-2 md:border-0;
}
.nav ._menu ._list .-item {
  @apply flex items-center py-[30px] gap-[5px] rounded-sm px-3 text-grayy dark:text-white11 text-[18px] font-normal hover:text-bluee dark:hover:text-green09 cursor-pointer relative;
}
.nav ._menu ._list .-item svg {
  @apply h-5 w-5 transition ease-in-out duration-300;
}
.nav ._menu ._list .-item span {
  @apply transition ease-in-out duration-300;
}
.nav ._menu ._list .-item.active {
  @apply text-bluee dark:text-green09;
}
.nav ._menu ._list .-item.active span {
  @apply text-bluee dark:text-green09;
}
.nav ._menu ._list .-dropdownMenu {
  @apply absolute inset-0 top-full z-[30] size-fit border-0 rounded-b-md;
}
.nav ._menu ._list .-dropdownMenu ._box {
  @apply pb-[5px] text-[14px] leading-[23px] min-w-[190px] dark:text-white11 text-grayy bg-white dark:bg-bgNavbar rounded-b-md;
}
.nav ._menu ._list .-dropdownMenu ._box a {
  @apply block px-4 py-2 hover:text-bluee dark:hover:text-green09;
}
.nav ._user {
  @apply flex hidden items-center gap-[20px] md:flex;
}
.nav ._user .wrapper {
  @apply flex items-center gap-[18px];
}
.nav ._user .wrapper .-themeToggle {
  @apply text-grayy dark:text-white11 rounded-lg text-sm;
}
.nav ._user .wrapper .-themeToggle svg {
  @apply hover:text-bluee dark:hover:text-green09 w-[24px] h-[24px];
}
.nav ._user .wrapper ._search {
  @apply cursor-pointer;
}
.nav ._user .wrapper ._search svg {
  @apply h-[24px] w-[24px] text-grayy dark:text-white11 hover:text-bluee dark:hover:text-green09;
}
.nav ._user .wrapper ._avatar {
  @apply cursor-pointer;
}
.nav ._user .wrapper ._avatar svg {
  @apply h-[24px] w-[24px] text-grayy dark:text-white11 hover:text-bluee dark:hover:text-green09;
}
.nav ._user .wrapper ._nofication {
  @apply relative cursor-pointer;
}
.nav ._user .wrapper ._nofication svg {
  @apply h-[24px] w-[24px] text-grayy dark:text-white11 hover:text-bluee dark:hover:text-green09;
}
.nav ._user .wrapper ._nofication .-badge {
  @apply absolute -top-1 -right-1 bg-Danger09 text-white text-xs font-bold w-4 h-4 flex items-center justify-center rounded-full shadow-md select-none;
}
.nav ._user ._postBtn {
  @apply inline-block rounded-lg bg-bluee dark:bg-green09 dark:hover:bg-green11 hover:bg-blue11 transition ease-in-out duration-300 px-[10px] py-[5px];
}
.nav ._user ._postBtn a {
  @apply text-[18px] font-medium leading-[30px] text-white;
}
.nav ._user ._notLogin {
  @apply flex items-center;
}
.nav ._user ._notLogin ._loginBtn {
  @apply pe-[10px] border-r border-gray02 dark:border-white09;
}
.nav ._user ._notLogin ._loginBtn a {
  @apply rounded-lg bg-bluee dark:bg-green09 dark:hover:bg-green11 hover:bg-blue11 transition ease-in-out duration-300 px-[10px] py-[5px] text-[16px] font-medium leading-[30px] text-white;
}
.nav ._user ._notLogin ._regisBtn {
  @apply ps-[10px];
}
.nav ._user ._notLogin ._regisBtn a {
  @apply text-[18px] leading-[30px] text-grayy dark:text-white11 hover:underline underline-offset-2;
}
.nav ._menuMobile {
  @apply flex md:order-2;
}

.carousel {
  @apply flex items-center justify-center py-[80px] max-sm:py-[20px];
}
.carousel ._container {
  @apply relative w-full max-w-[1280px] mx-auto h-[403px] max-sm:h-[250px] overflow-visible;
}
.carousel ._slide-container {
  @apply relative w-full h-full;
}
.carousel ._slide-container .slide {
  @apply absolute rounded-2xl overflow-hidden;
}
.carousel .prev-btn {
  @apply absolute left-10 top-1/2 -translate-y-1/2 translate-x-[-35%] z-[20] w-10 h-10 flex items-center justify-center text-white bg-white/30 rounded-full hover:bg-bluee transition-colors;
}
.carousel .next-btn {
  @apply absolute right-10 top-1/2 -translate-y-1/2 -translate-x-[-35%] z-[20] w-10 h-10 flex items-center justify-center text-white  bg-white/30 rounded-full hover:bg-bluee transition-colors;
}

.card {
  @apply flex flex-col;
}
.card ._banner {
  @apply rounded-md h-[260px] max-sm:h-[180px] relative overflow-hidden;
}
.card ._banner img {
  @apply w-full h-full object-cover rounded-md;
  transition: transform 0.3s ease;
}
.card ._banner .-tag {
  @apply absolute top-4 left-4 text-caption text-tagHome px-[10px] py-[2px] rounded-[4px];
}
.card ._banner .-rating {
  @apply absolute top-[12px] left-[12px] text-caption font-semibold px-[6px] py-[3px] rounded-[4px] flex items-center gap-1 bg-white;
}
.card ._title {
  @apply pt-2;
}
.card ._title h3 {
  @apply text-[18px] line-clamp-2 font-semibold leading-[30px] dark:text-white12 hover:underline;
}
.card ._storyGenre {
  @apply pt-2;
}
.card ._storyGenre a {
  @apply text-grayy dark:text-white11 text-caption pe-[5px] border-r border-grayy dark:border-white11 hover:underline;
}
.card ._storyGenre a:last-child {
  @apply border-0;
}

.card:hover ._banner img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.footer {
  @apply py-[35px] bg-white dark:bg-bgNavbar;
}
.footer ._container {
  @apply my_container flex max-sm:flex-wrap justify-between;
}
.footer ._container ._left {
  @apply flex flex-col gap-[15px] max-w-[550px];
}
.footer ._container ._left .-intro {
  @apply text-Neutral12 text-[18px] dark:text-white11 leading-[30px];
}
.footer ._container ._left .-intro a {
  @apply hover:underline;
}
.footer ._container ._left .-contact {
  @apply text-[16px] leading-[23px] pt-[15px] text-Neutral12 font-medium dark:text-white11;
}
.footer ._container ._right {
  @apply flex flex-col justify-center max-w-[638px];
}
.footer ._container ._right .-box {
  @apply flex flex-wrap text-[18px] text-grayy dark:text-white11 leading-[30px];
}
.footer ._container ._right .-box a {
  @apply pe-[15px] pb-[5px] hover:text-bluee dark:hover:text-green09 hover:underline;
}

.card_row {
  @apply flex flex-col gap-[15px] py-[20px] border-b border-grayy dark:border-white11;
}
.card_row .-item {
  @apply flex flex-wrap gap-[15px];
}
.card_row .-item .image {
  @apply w-[90px] h-[110px] max-sm:h-[130px] rounded-md overflow-hidden;
}
.card_row .-item .image img {
  @apply object-cover w-full h-full;
  transition: transform 0.3s ease;
}
.card_row .-item .-info {
  @apply flex flex-col flex-wrap justify-between flex-1 py-[14px] max-sm:py-0;
}
.card_row .-item .-info .-title {
  @apply flex flex-wrap;
}
.card_row .-item .-info .-title span {
  @apply border-r border-grayy dark:border-white11 px-[18px] text-body max-sm:border-0 max-sm:px-[5px] max-sm:py-[5px];
}
.card_row .-item .-info .-title span a {
  @apply hover:underline;
}
.card_row .-item .-info .-title span:first-child {
  @apply ps-0 pe-[10px] border-0 text-grayy w-auto dark:text-white11 font-medium line-clamp-1 md:flex-1 lg:flex-1 xl:flex-1;
}
.card_row .-item .-info .-title span:nth-child(3) {
  @apply text-bluee dark:text-green09 font-normal;
}
.card_row .-item .-info .-title span:last-child {
  @apply border-0 pe-0 text-grayy dark:text-white11;
}
.card_row .-item .-info .-title ._tag {
  @apply flex items-center gap-[10px] border-r border-grayy dark:border-white11 pe-[18px] max-sm:border-0;
}
.card_row .-item .-info .-title ._tag .item {
  @apply px-[10px] py-[2px] rounded-md text-white text-caption;
}
.card_row .-item .-bot {
  @apply flex items-center gap-[24px];
}
.card_row .-item .-bot ._cate {
  @apply flex gap-[5px];
}
.card_row .-item .-bot ._cate a {
  @apply text-grayyLight dark:text-white11 text-button2 hover:underline;
  font-weight: 400 !important;
}
.card_row .-item .-bot ._cate a:after {
  content: ", ";
}
.card_row .-item .-bot ._cate a:last-child:after {
  content: "";
}
.card_row .-item:hover .image img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.card_row:first-child {
  @apply pt-0;
}

.card_row:last-child {
  @apply pb-0 border-0;
}

.breadcrumb {
  @apply py-[40px];
}
.breadcrumb ol {
  @apply flex items-center gap-2 text-[21px] leading-[30px];
}
.breadcrumb ol li {
  @apply text-gray02 dark:text-white11;
}
.breadcrumb ol li a {
  @apply hover:underline;
}
.breadcrumb ol li span {
  @apply text-bluee dark:text-green09;
}

.pagination {
  @apply w-full flex justify-center;
}
.pagination ul {
  @apply flex h-8 items-center -space-x-px text-sm;
}
.pagination ul li a {
  @apply flex h-8 items-center justify-center border border-gray02 dark:border-white11 px-3 leading-tight text-gray02 hover:bg-gray-200 hover:text-gray-700 dark:text-white11 dark:hover:bg-grayyLight dark:hover:text-white;
}
.pagination ul li a.active {
  @apply bg-bluee dark:bg-green09 text-white;
}
.pagination ul li:first-child a {
  @apply ms-0 rounded-s-md border-e-0;
}
.pagination ul li:last-child a {
  @apply rounded-e-md;
}

.modal_login {
  @apply overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%)] max-h-full bg-gray-500/50;
}
.modal_login .background-container {
  @apply z-[10] bg-white dark:bg-gray01 shadow-lg w-full px-[70px] py-[60px] max-w-[500px] mx-auto relative overflow-hidden rounded-md min-h-[732px];
}
.modal_login .background-container .-form[x-show=true] {
  @apply transition-all duration-300 ease-in-out opacity-100;
}
.modal_login .background-container::before {
  content: "";
  position: absolute;
  top: -25%;
  left: -3%;
  width: 123%;
  height: 82%;
  background-image: url(../../../public/images/home-hero/bg-login.png);
  background-size: cover;
  background-position: center;
  filter: opacity(0.2);
  transform: rotate(13.75deg);
  z-index: -1;
}
.modal_login .close_btn {
  @apply absolute right-[10%] top-[6%] text-gray-400 hover:text-gray-600 dark:text-white11 dark:hover:text-white09;
}
.modal_login .-logo {
  @apply flex justify-center items-center mb-6;
}
.modal_login .-form {
  @apply space-y-6;
}
.modal_login .-form .head_title {
  @apply text-[28px] leading-[40px] font-semibold text-center text-gray-800 dark:text-white11 max-w-[300px] mx-auto;
}
.modal_login .-form .logged_yet {
  @apply text-center text-[16px] leading-[23px];
  margin-top: 20px !important;
}
.modal_login .-form .logged_yet span {
  @apply text-gray10 dark:text-white10;
}
.modal_login .-form .logged_yet p {
  @apply inline-block text-bluee dark:text-green09 hover:underline cursor-pointer;
}
.modal_login .-form .input label {
  @apply block text-gray02 mb-2 dark:text-white11;
}
.modal_login .-form .input ._box {
  @apply flex items-center px-4 py-2 border border-gray02 dark:border-white10 dark:text-white11 rounded-lg focus:outline-none ring-transparent;
}
.modal_login .-form .input ._box svg {
  @apply w-5 h-5 text-gray02/40 dark:text-white09/40;
}
.modal_login .-form .input ._box input {
  @apply border-0 w-full text-gray02 dark:text-white12 focus:outline-none bg-transparent p-0;
}
.modal_login .-form .input ._box input::-moz-placeholder {
  @apply text-gray09/40 dark:text-white09/40;
}
.modal_login .-form .input ._box input::placeholder {
  @apply text-gray09/40 dark:text-white09/40;
}
.modal_login .-form .submit_btn {
  @apply mt-[50px] w-full rounded-lg bg-bluee dark:bg-green09  py-2.5 font-medium text-white12 transition-colors hover:bg-blue11 dark:hover:bg-green11;
}
.modal_login .-form .forgot_pass {
  @apply flex items-center justify-between;
}
.modal_login .-form .forgot_pass label {
  @apply flex items-center;
}
.modal_login .-form .forgot_pass label input {
  @apply rounded border-gray02 ring-transparent bg-transparent focus:outline-none;
}
.modal_login .-form .forgot_pass label span {
  @apply ml-2 text-[16px] font-light text-grayyLight dark:text-white10;
}
.modal_login .-form .forgot_pass a {
  @apply text-bluee dark:text-green09 hover:underline;
}
.modal_login .-form .social_login {
  @apply grid grid-cols-2 gap-4;
}
.modal_login .-form .social_login button {
  @apply flex items-center justify-center rounded-lg border border-gray02 px-4 py-1 transition-colors hover:bg-gray-50 dark:text-white11 dark:hover:bg-grayyLight dark:border-white11;
}

.comment_block {
  @apply px-[50px] py-[30px];
}
.comment_block .right {
  @apply flex flex-col gap-[15px];
}

.avatar {
  @apply h-10 w-10 overflow-hidden rounded-full bg-gray-200;
}
.avatar img {
  @apply w-full h-full object-cover;
}

.name {
  @apply font-medium text-gray02 dark:text-white12;
}

.star {
  @apply flex gap-1;
}
.star svg {
  @apply w-4 h-4;
}

.content {
  @apply text-gray02 mb-3 text-caption dark:text-white12;
}

.show_more {
  @apply text-grayyLight dark:text-white10 text-sm cursor-pointer flex items-center gap-1;
}
.show_more svg {
  @apply w-4 h-4;
}

.interact-btn {
  @apply flex items-center justify-between;
}
.interact-btn .button {
  @apply flex items-center gap-1 text-gray02 dark:text-white11;
}
.interact-btn .button svg {
  @apply w-[20px] h-[20px];
}

.drawerHome {
  @apply fixed right-0 top-0 z-[52] h-screen w-[390px] overflow-y-auto bg-white dark:bg-bgNavbar p-[30px];
}
.drawerHome ._closeDrawer {
  @apply relative;
}
.drawerHome ._closeDrawer button {
  @apply absolute right-0 top-0 text-gray02 dark:text-white11 hover:text-bluee dark:hover:text-green09;
}
.drawerHome ._user {
  @apply mt-[50px] mb-[30px] flex items-center gap-[16px];
}
.drawerHome ._user .-avatar {
  @apply w-[52px] h-[52px] rounded-full overflow-hidden;
}
.drawerHome ._user .-avatar img {
  @apply w-full h-full object-cover;
}
.drawerHome ._user .-NameId {
  @apply flex flex-col justify-between;
}
.drawerHome ._user .-NameId p {
  @apply text-subtitle2 text-gray01 dark:text-white11;
}
.drawerHome ._user .-NameId span {
  @apply text-caption text-gray02 dark:text-white12;
}
.drawerHome ._menu {
  @apply border-y border-gray02 dark:border-white11;
}
.drawerHome ._menu .-item {
  @apply py-[12px] text-gray02 dark:text-white11 flex items-center justify-between border-b border-gray02 dark:border-white11 hover:text-bluee dark:hover:text-green09 cursor-pointer;
}
.drawerHome ._menu .-item a {
  @apply text-body2;
}
.drawerHome ._menu .-item:last-child {
  @apply border-b-0;
}

.notification-modal {
  @apply fixed inset-0 z-50 max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0;
}
.notification-modal .notifi-absolute {
  @apply absolute inset-0 top-[20%] z-[10] max-h-full mx-auto overflow-hidden max-w-[500px];
}
.notification-modal .notifi-absolute .content-wrapper {
  @apply overflow-hidden mx-auto min-h-[400px] max-h-[560px] rounded-md bg-bgLight dark:bg-gray01 shadow-lg dark:bg-gray01;
}
.notification-modal .notifi-absolute .content-wrapper .header {
  @apply flex items-center justify-between px-[30px] py-4 shadow-md bg-white dark:bg-bgNavbar dark:shadow-lg;
}
.notification-modal .notifi-absolute .content-wrapper .header p {
  @apply text-h6 text-gray01 dark:text-white12;
}
.notification-modal .notifi-absolute .content-wrapper .header .close-btn {
  @apply text-gray01 dark:text-white12 border-0 p-0;
}
.notification-modal .notifi-absolute .content-wrapper .filter-btn {
  @apply flex gap-2 px-[30px] pt-[35px] pb-[23px];
}
.notification-modal .notifi-absolute .content-wrapper .notifi-list {
  @apply h-[390px] overflow-y-scroll flex flex-col gap-[15px] px-[30px] mb-[30px];
}
.notification-modal .notifi-absolute .content-wrapper .notifi-list .item {
  @apply flex items-center justify-between gap-[45px];
}
.notification-modal .notifi-absolute .content-wrapper .notifi-list .item h2 {
  @apply text-caption font-medium text-gray01 dark:text-white11;
}
.notification-modal .notifi-absolute .content-wrapper .notifi-list .item p {
  @apply text-caption text-gray02 dark:text-white11 line-clamp-2;
}
.notification-modal .notifi-absolute .content-wrapper .notifi-list .item span {
  @apply text-caption2 text-gray09 dark:text-white09;
}
.notification-modal .notifi-absolute .content-wrapper .no-notifi {
  @apply flex flex-col items-center justify-center text-caption gap-[15px] text-gray02 dark:text-white12 h-[350px];
}
.notification-modal .overlay {
  @apply inset-0 z-[9] h-full w-full bg-black bg-opacity-50;
}
.notification-modal button {
  @apply py-[5px] px-[15px] text-button2 text-gray02 border border-gray02 dark:text-white11 dark:border-white11 rounded-md;
}
.notification-modal button.active {
  @apply bg-bluee dark:bg-green09 border-0 text-white12;
}

.report-modal {
  @apply fixed inset-0 z-50 max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0;
}
.report-modal .report-absolute {
  @apply absolute inset-0 top-[20%] z-[10] max-h-full mx-auto overflow-hidden max-w-[364px];
}
.report-modal .report-absolute .report-wrapper {
  @apply overflow-hidden mx-auto min-h-[400px] max-h-[560px] rounded-md bg-bgLight dark:bg-gray01 shadow-lg dark:bg-gray01 p-[30px];
}
.report-modal .report-absolute .report-wrapper .close-btn {
  @apply flex items-center gap-[10px] text-body dark:text-white11 text-gray02;
}
.report-modal .overlay {
  @apply inset-0 z-[9] h-full w-full bg-black bg-opacity-50;
}

[x-cloak] {
  display: none !important;
}

body {
  @apply bg-bgLight dark:bg-gray01 relative;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  @apply w-[8px] rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#7A7A7A] rounded-full;
}

::-webkit-scrollbar-track {
  @apply bg-[#E8E8E8] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#555];
}

.my_container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  @apply max-sm:px-[15px];
}

.page-wrapper {
  @apply mt-[87px] max-sm:mt-[60px];
}

.text-caption {
  @apply text-[14px] leading-[20px];
}

.text-caption2 {
  @apply text-[12px] leading-[16px];
}

.text-blockquote {
  @apply text-[16px] leading-[23px] italic;
}

.text-button2 {
  @apply text-[16px] leading-[23px] font-medium;
}

.text-button1 {
  @apply text-[21px] leading-[30px] font-medium;
}

.text-body {
  @apply text-[21px] leading-[30px];
}

.text-body2 {
  @apply text-[18px] leading-[30px];
}

.text-subtitle {
  @apply text-[21px] leading-[28px] font-medium;
}

.text-subtitle2 {
  @apply text-[18px] leading-[28px] font-medium;
}

.text-h6 {
  @apply text-[21px] leading-[30px] font-semibold;
}

.text-h5 {
  @apply text-[28px] leading-[40px] font-semibold;
}

.text-h4 {
  @apply text-[38px] leading-[50px] font-semibold;
}

.text-h3 {
  @apply text-[51px] leading-[70px] font-bold;
}

.text-h2 {
  @apply text-[67px] leading-[98px] font-bold;
}

.text-h1 {
  @apply text-[90px] leading-[130px] font-bold;
}

.commonBtnDropdown {
  @apply px-[16px] py-[8px] border border-gray02 flex items-center gap-1 rounded-lg select-none text-gray02 dark:text-white11 dark:border-white11 cursor-pointer;
}
.commonBtnDropdown span {
  @apply text-button2;
}
.commonBtnDropdown svg {
  @apply w-5 h-5 font-bold ease-in-out transition-transform;
}

.commonBtnDropdown.active {
  @apply bg-white dark:bg-bgNavbar border-bluee dark:border-green09;
}
.commonBtnDropdown.active span {
  @apply text-bluee dark:text-green09;
}
.commonBtnDropdown.active svg {
  @apply text-bluee dark:text-green09 rotate-180 ease-in-out transition-transform;
}

.commonBtnDropdownBgColor {
  @apply px-[16px] py-[8px] flex items-center gap-1 rounded-lg select-none bg-bluee text-white hover:bg-blue11 dark:bg-green09 dark:hover:bg-green11;
}
.commonBtnDropdownBgColor span {
  @apply text-button2;
}
.commonBtnDropdownBgColor svg {
  @apply w-5 h-5 font-bold ease-in-out transition-transform;
}

.commonBtnDropdownBgColor.active svg {
  @apply rotate-180 ease-in-out transition-transform;
}

.commonDropdown {
  @apply z-10 absolute right-0 top-[130%] border border-bluee dark:border-green09 rounded-lg bg-white shadow-sm dark:bg-bgNavbar;
}
.commonDropdown ul {
  @apply p-[5px] text-button2 w-full text-gray02 dark:text-white11;
}
.commonDropdown ul a {
  @apply block rounded-md w-full px-2 py-2 hover:text-bluee dark:hover:text-green09 select-none;
}

.commonDropdownBgColor {
  @apply z-10 absolute right-0 top-[130%] border border-bluee dark:border-green09 rounded-lg overflow-hidden bg-bluee dark:bg-green09 shadow-sm;
}
.commonDropdownBgColor ul {
  @apply text-button2 text-white w-full p-[5px];
}
.commonDropdownBgColor ul a {
  @apply block rounded-md w-full px-2 py-2 hover:bg-blue11 dark:hover:bg-green11 select-none;
}

.sectionTitle1 {
  @apply mb-[30px];
}
.sectionTitle1 ._box h2 {
  @apply text-[28px] font-semibold leading-[40px] uppercase;
}

.sectionTitle2 ._box h2 {
  @apply text-h6 font-semibold uppercase;
}

.sectionTitle {
  @apply inline-block overflow-hidden select-none;
}
.sectionTitle ._box {
  @apply flex flex-col;
}
.sectionTitle ._box h2 {
  @apply text-bluee dark:text-green09;
}
.sectionTitle ._box .line {
  @apply w-full h-[1px] relative;
}
.sectionTitle ._box .line .line-active {
  @apply w-full h-[1px] bg-bluee dark:bg-green09 absolute bottom-0;
}

.toolTipCustom {
  @apply absolute z-10 inline-block px-3 py-2 text-caption text-gray02 bg-white09 rounded-lg shadow tooltip dark:bg-gray09 dark:text-white11;
}

._sectionRight {
  @apply flex flex-col gap-[50px] w-[378px] max-sm:w-full pb-[24px] max-sm:pt-[15px];
}
._sectionRight ._topStory {
  @apply flex flex-col;
}
._sectionRight ._topStory .-selection {
  @apply flex items-center justify-between gap-[15px] pb-[15px];
}
._sectionRight ._topStory .-selection span {
  @apply text-button2 text-grayy dark:text-white11 py-[10px] px-[30px] max-sm:py-[10px] max-sm:px-[15px] bg-transparent rounded-full border border-grayy dark:border-white11 flex-auto text-center uppercase cursor-pointer;
}
._sectionRight ._topStory .-selection .active {
  @apply bg-grayy text-white border-transparent;
}
._sectionRight ._topStory ._content {
  @apply p-[15px];
}
._sectionRight ._topStory ._content .-tabCont .-box {
  @apply flex items-center gap-[18px] px-[18px] max-sm:px-0 py-[24px] border-b border-[#b3b3b3];
}
._sectionRight ._topStory ._content .-tabCont .-box .-circle {
  @apply text-h6 py-[7px] px-[10px] rounded-full dark:text-white;
}
._sectionRight ._topStory ._content .-tabCont .-box .-image {
  @apply w-[82px] h-[82px] overflow-hidden rounded-md;
}
._sectionRight ._topStory ._content .-tabCont .-box .-image img {
  @apply w-full h-full object-cover;
  transition: transform 0.3s ease;
}
._sectionRight ._topStory ._content .-tabCont .-box .-info {
  @apply flex flex-col gap-[15px] flex-1;
}
._sectionRight ._topStory ._content .-tabCont .-box .-info h3 {
  @apply text-subtitle text-grayy dark:text-white11 capitalize line-clamp-1;
}
._sectionRight ._topStory ._content .-tabCont .-box .-info .-chapter {
  @apply flex items-center justify-between text-caption text-grayyLight dark:text-white11;
}
._sectionRight ._topStory ._content .-tabCont .-box .-info .-chapter .-watch {
  @apply flex items-center gap-1 italic;
}
._sectionRight ._topStory ._content .-tabCont .-box:last-child {
  @apply pb-0 border-0;
}
._sectionRight ._topStory ._content .-tabCont .-box:first-child {
  @apply pt-0;
}
._sectionRight ._topStory ._content .-tabCont .-box:hover .-image img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
._sectionRight ._topStory ._content .-tabCont .-box:hover .-info h3 {
  @apply underline;
}
._sectionRight ._topStory ._content > .-tabCont[x-show=true] {
  display: block;
}
._sectionRight ._readingStory {
  @apply flex flex-col;
}
._sectionRight ._readingStory ._title {
  @apply p-[10px] pb-[5px] border border-grayy dark:border-white11;
}
._sectionRight ._readingStory ._content {
  @apply border border-grayy border-t-0 dark:border-white11;
}
._sectionRight ._readingStory ._content table {
  @apply w-full;
}
._sectionRight ._readingStory ._content table tbody tr {
  @apply border-b border-grayy border-dashed;
}
._sectionRight ._readingStory ._content table tbody tr td {
  @apply text-grayy dark:text-white11 text-body;
}
._sectionRight ._readingStory ._content table tbody tr td:first-child {
  @apply py-2 px-4 border-r border-dashed border-gray-400 hover:underline w-7/12;
}
._sectionRight ._readingStory ._content table tbody tr td:first-child a {
  @apply line-clamp-1 capitalize;
}
._sectionRight ._readingStory ._content table tbody tr td:last-child {
  @apply py-2 px-4 text-bluee dark:text-green09 hover:underline w-5/12;
}
._sectionRight ._readingStory ._content table tbody tr:last-child {
  @apply border-0;
}
._sectionRight ._storyCategory {
  @apply flex flex-col;
}
._sectionRight ._storyCategory ._title {
  @apply p-[10px] pb-[5px] border border-grayy dark:border-white11;
}
._sectionRight ._storyCategory ._content {
  @apply p-[24px] px-[50px] grid grid-cols-2 gap-[24px] border border-grayy dark:border-white11 border-t-0;
}
._sectionRight ._storyCategory ._content a {
  @apply text-body2 text-Neutral10 dark:text-white11 line-clamp-1 capitalize hover:underline;
}

@custom-variant dark (&:where(.dark, .dark *));/*# sourceMappingURL=style.css.map */