.card{
    @apply flex flex-col;

    ._banner{
        @apply rounded-md h-[260px] max-sm:h-[180px] relative overflow-hidden;


        img{
            @apply w-full h-full object-cover rounded-md;
            transition: transform 0.3s ease;
        }

        .-tag{
            @apply absolute top-4 left-4 text-caption text-tagHome px-[10px] py-[2px] rounded-[4px];
        }

        .-rating{
            @apply absolute top-[12px] left-[12px] text-caption font-semibold px-[6px] py-[3px] rounded-[4px] flex items-center gap-1 bg-white;
        }
    }

    ._title{
        @apply pt-2;
        h3{
            @apply text-[18px] line-clamp-2 font-semibold leading-[30px] dark:text-white12 hover:underline;
        }
    }

    ._storyGenre{
        @apply pt-2;

        a{
            @apply text-grayy dark:text-white11 text-caption pe-[5px] border-r border-grayy dark:border-white11 hover:underline;
        }

        a:last-child{
            @apply border-0;
        }
    }
}

.card:hover{

    ._banner{
        img{
            transform: scale(1.2);
            transition: transform 0.3s ease;
        }
    }
}
